<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Pocket Project Engagement</a>
</nav>

<div class="container">
  <br/>
  <div class="jumbotron">
    <form [formGroup]="peForm">
      <label for="selectCO">Select CO</label>
      <select class="form-control" id="selectCO" (change)="coChanged()">
        <option *ngFor="let x of coList"
                [ngValue]="x">{{ x.name }}</option>
      </select>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
